<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="hidefloating" value="1" />
        <add key="serverip" value="10.240.208.158" />
        <add key="serverport" value="1886" />
    </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
